In [1]:
import seek_library as s 
x= s.SEEK()

In [2]:
x.query()

Tab(children=(VBox(children=(Dropdown(description='Search Type:', options=('Project', 'Investigation', 'Study'…

Button(description='Convert widgets to text', style=ButtonStyle(), tooltip='Click me')

In [5]:
x.search()

HTML(value='<h1><u>Biomass of Col-0 Arabidopsis rosette and individual leaves</u></h1>')

Data for Figs. 2I, 2J, 2K in Chew et al. PNAS 2014
Fresh biomass, dry biomass (i.e. after baking out all water),
SLA - specific leaf area (area per g)

The same data are available on the BioDare resource, with additional experimental meta data on growth conditions.
BioDare ID 13790828881028, title "Physiology experiment using Col", the direct link is:
https://www.biodare.ed.ac.uk/robust/ShowExperiment.action?experimentId=13790828881028

,Date,2010-08-10T0:0:0+0200,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,DAS,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Genotype,Col,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Fresh,NaN,Dry,NaN,NaN,Area (mm2),NaN
...,...,...,...,...,...,...,...,...,...,...
59,Total,NaN,NaN,NaN,0.012199999999999989,NaN,0.0010999999999999899,90.98360655737713,72.7741,NaN
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Download link: https://fairdomhub.org/data_files/2222/content_blobs/5814/download

Tab(children=(VBox(children=(SelectMultiple(description='Name :', index=(0,), layout=Layout(width='400px'), op…

Tab(children=(VBox(children=(SelectMultiple(description='Title :', index=(0,), layout=Layout(width='850px'), o…

Button(description='Convert widgets to text', style=ButtonStyle(), tooltip='Click me')

In [ ]:
x.change_url()

In [ ]:
x.auth()

In [ ]:
x.post()